<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/public.css'/>
    <link rel="stylesheet" href='/stylesheets/header.css'/>
</head>
<body>
<div class="box">
<header>
	<span class="fl">手机管理系统</span>
	<p class="fr">
		<span>xxx<em>(管理员)</em></span><span>早上好</span><a class='back' href="/">退出</a>
	</p>	
</header>
