<% include header %>
<link rel="stylesheet" href="/stylesheets/index.css">
<aside class="fl">
	<a href="/index">第一页</a>
	<a href="/index2">第二页</a>
	<a href="/index3">第三页</a>
</aside>
<div class="main fr"><h1>第三页</h1></div>
<% include footer %>