<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/public.css'/>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <form class="box" action="get.php">
    	<div><label>姓名：</label><input type="text" name="username"></div>
    	<div><label>密码：</label><input type="password" name="password"></div>
    	<div><input type="submit" name="submitx"></div><a href="/register" id="register">注册</a>
    </form>
</body>
<script src='/javascripts/jquery-3.3.1.min.js'></script>
<!-- <script src='/javascripts/login.js'></script> -->
</html>
