<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/public.css'/>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>
<body>
    <a href="/index">sssss</a>
    <form class="box" action="get.php">
    	<div><label>姓名：</label><input type="text" name="uname"></div>
    	<div><label>昵称：</label><input type="text" name="nname"></div>
    	<div><label>密码：</label><input type="password" name="pwd"></div>
    	<div><label>再次确认：</label><input type="password" name="pwdx"></div>
    	<div><label>电话：</label><input type="text" name="tel"></div>
    	<div><label>管理员：</label><input type="text" name="manager"></div>
    	<div><input type="submit" name="submitx" value="注册"></div>
    </form>
</body>
<script src='/javascripts/jquery-3.3.1.min.js'></script>
</html>