@charset "UTF-8";
.search{
	margin:30px 0 0 150px;
}
.search input[type='text']{
	padding: 5px 10px;
	width: 200px;
	height: 20px;
}
.search input[type='button']{
	margin-left: 10px;
	width: 60px;
	height: 30px;
	line-height: 40%;
	text-align: center;
	cursor: pointer;
}
table{
	position: absolute;
	left: 50%;
	top:100px;
	transform: translateX(-50%);
	width: 800px;
}
table th{
	height:48px; 
	border:1px solid #ccc;
}
table th:nth-of-type(2),table th:nth-of-type(3),table th:nth-of-type(6){
	width: 70px;
}
table th:nth-of-type(1),table th:nth-of-type(7){
	width: 100px;
}
.index{
	position: absolute;
	bottom: 150px;
	right: 150px;
}
.index li{
	float: left;
	margin: 0 5px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	border:1px solid #aaa;
	background: #fff;

}

